on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  schedule: [cron: "40 1 * * *"]

name: ci

jobs:
  # build, test all supported targets
  build-test-stable:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        targets:
          - x86_64-unknown-linux-gnu
        toolchain:
          - stable
            # msrv
          - 1.70.0

    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - uses: dtolnay/rust-toolchain@be73d7920c329f220ce78e0234b8f96b7ae60248 # master
        with:
          toolchain: ${{ matrix.toolchain }}
          target: ${{ matrix.targets }}
      - uses: Swatinem/rust-cache@a22603398250b864f7190077025cf752307154dc # v2.7.2
      - run: cargo build --workspace --target ${{ matrix.targets }}
      - run: cargo test --workspace --target ${{ matrix.targets }}

  # fmt and clippy on stable builds
  fmt-clippy-stable:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - uses: dtolnay/rust-toolchain@be73d7920c329f220ce78e0234b8f96b7ae60248 # master
        with:
          toolchain: stable
          target: x86_64-unknown-linux-gnu
          components: rustfmt, clippy
      - uses: Swatinem/rust-cache@a22603398250b864f7190077025cf752307154dc # v2.7.2
      - run: cargo fmt --all --check
      - run: cargo clippy --workspace -- -D warnings
